@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

.base-blue {
  color: #003d73;
}
.text-gray {
  color: rgb(52, 52, 52);
}
.head-gray {
  color: rgb(155, 155, 155);
}
.a4-page {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}
@media print {
  .a4-page {
    margin: 0;
    box-shadow: 0;
  }
}
