body {
  margin: 0;
  font-family: "Averta";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Averta";
  src: local("Averta"),
    url(./fonts/Averta/AvertaDemoPE-Regular.otf) format("woff");
}
